<h2>My Vehicles</h2>
<ul class="vehicles">
  <li *ngFor="let vehicle of vehicles">
    <button [class.selected]="vehicle === selectedVehicle" type="button" (click)="onSelect(vehicle)">
      <span class="badge">{{vehicle.id}}</span>
      <span class="name">{{vehicle.name}}</span>
    </button>
  </li>
</ul>

<div *ngIf="selectedVehicle">
  <h2>{{selectedVehicle.name | uppercase}} Details</h2>
  <div>id: {{selectedVehicle.id}}</div>
  <div>
    <label for="vehicle-name">Vehicle name: </label>
    <input id="vehicle-name" [(ngModel)]="selectedVehicle.name" placeholder="name">
  </div>
</div>